@using Lightbringer.Rest.Contract
@model Lightbringer.Web.Store.ViewModels.DaemonVm
@{
    string faChar;
    string color;
    switch (Model.State)
    {
        case DaemonStates.Running:
            faChar = "fa-play";
            color = "badge-success";
            break;
        case DaemonStates.Stopped:
            faChar = "fa-stop";
            color = "badge-danger";
            break;
        default:
            faChar = "fa-question";
            color = "badge-secondary";
            break;
    }

    string id = $"{Model.HostId}-{Model.ServiceType}-{Model.ServiceName}";
}

<span id="@id" class="badge @color badge-pill">
    <i class="fas @faChar" title="@Model.State"></i>
</span>
