@model IEnumerable<Lightbringer.Wcf.Contracts.Daemons.DaemonDto>
@{
    ViewData["Title"] = "Select Daemons";
}

<br/>

<h2 class="">Select Daemons</h2>

<table class="table table-striped border">
    <tr class="table-primary">
        <th>Name</th>
        <th>Service Name</th>
    </tr>

    @foreach (var dto in Model)
    {
        <tr>
            <td>@dto.DisplayName</td>
            <td>@dto.ServiceName</td>
        </tr>
    }
</table>